@model List<CheapFlights.Models.FlightModel>

<table id="flightsTable" class="table table-bordered display" width="100%">
    <thead>
        <tr>
            <th colspan="2" class="text-center">Origin</th>
            <th colspan="2" class="text-center">Destination</th>
            <th colspan="2" class="text-center">Flight Details</th>
        </tr>
        <tr>
            <th>City</th>
            <th>IATA Code</th>
            <th>City</th>
            <th>IATA Code</th>
            <th>Duration</th>
            <th>Cost</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var flight in Model) {
        <tr>
            <td>@flight.Origin.City</td>
            <td>@flight.Origin.IataCode</td>
            <td>@flight.Destination.City</td>
            <td>@flight.Destination.IataCode</td>
            <td>@flight.Duration.ToString("c")</td>
            <td class="text-right">@String.Format("{0:C}", @flight.Cost)</td>
        </tr>
    }
    </tbody>
</table>