@model List<CheapFlights.Models.FlightModel>

<table id="flightsTable" class="table table-bordered" width="100%">
    <thead>
        <tr>
            <th>Origin City</th>
            <th>Origin IATA Code</th>
            <th>Destination City</th>
            <th>Destination IATA Code</th>
            <th>Cost</th>
            <th>Duration</th>
        </tr>
    </thead>
    <tbody>
    @foreach (FlightModel flight in Model) {
        <tr>
            <td>@flight.Origin.City</td>
            <td>@flight.Origin.IataCode</td>
            <td>@flight.Destination.City</td>
            <td>@flight.Destination.IataCode</td>
            <td class="text-right">@String.Format("{0:C}", @flight.Cost)</td>
            <td>@flight.Duration.ToString("c")</td>
        </tr>
    }
    </tbody>
</table>