@model CheapFlights.Models.SearchViewModel

@{
    ViewData["Title"] = "Search Flights";
}

@using (Html.BeginForm("Search", "Flights", FormMethod.Post, new { id = "searchForm" })) {
    <div class="form-row">
        <div class="col-sm-5 pb-2">
            @Html.DropDownListFor(
                m => m.SelectedOriginId, 
                new SelectList(Model.Airports, "IataCode", "City"),
                "-- Select Origin --",
                new {
                    @class = "custom-select" 
                })
            @Html.ValidationMessageFor(m => m.SelectedOriginId)
        </div>
        <div class="col-sm-5 pb-2">
            @Html.DropDownListFor(
                m => m.SelectedDestinationId, 
                new SelectList(Model.Airports, "IataCode", "City"),
                "-- Select Destination --",
                new {
                    @class = "custom-select" 
                })
            @Html.ValidationMessageFor(m => m.SelectedDestinationId)
        </div>
        <div class="col-sm-2 pb-2">
            <button type="submit" class="btn btn-primary btn-block">Search</button>
        </div>
    </div>
}

@if (Model.Itineraries != null) {
    @foreach (var itinerary in Model.Itineraries) {
        <div class="pt-4">
            <div class="d-flex justify-content-between">
                <div>
                    <h4>
                        Cost: @String.Format("{0:C}", itinerary.TotalCost),
                        Duration: @itinerary.TotalDuration.ToString("c")
                    </h4>
                </div>
                <div>
                    @if (itinerary.IsSuggested) {
                        <p class="badge badge-pill badge-primary float-right ml-2 pl-2 pr-2">Suggested</p>
                    }
                    @if (itinerary.IsBestDeal) {
                        <p class="badge badge-pill badge-bestDeal float-right ml-2 pl-2 pr-2">Best Deal</p>
                    }
                    @if (itinerary.IsShortestDuration) {
                        <p class="badge badge-pill badge-shortestDuration float-right ml-2 pl-2 pr-2">Shortest Duration</p>
                    }
                    @if (itinerary.IsDirect) {
                        <p class="badge badge-pill badge-direct float-right ml-2 pl-2 pr-2">Direct</p>
                    }
                </div>
            </div>
            @await Html.PartialAsync("_FlightsTable", itinerary.Flights)
        </div>
    }
}