@model CheapFlights.Models.SearchModel

@{
    ViewData["Title"] = "Search Flights";
}

@using (Html.BeginForm("Search", "Flights", FormMethod.Post, new { id = "searchForm" })) {
    <div class="form-row">
        <div class="col-5">
            @Html.DropDownListFor(
                m => m.SelectedOriginId, 
                new SelectList(Model.Airports, "IataCode", "City"),
                "-- Select Origin --",
                new {
                    @class = "custom-select" 
                })
            @Html.ValidationMessageFor(m => m.SelectedOriginId)
        </div>
        <div class="col-5">
            @Html.DropDownListFor(
                m => m.SelectedDestinationId, 
                new SelectList(Model.Airports, "IataCode", "City"),
                "-- Select Destination --",
                new {
                    @class = "custom-select" 
                })
            @Html.ValidationMessageFor(m => m.SelectedDestinationId)
        </div>
        <div class="col-2">
            <button type="submit" class="btn btn-primary btn-block">Search</button>
        </div>
    </div>
}

@if (Model.Flights != null) {
    <div class="pt-4">
        <h4>Best Deal @String.Format("{0:C}", @Model.Flights.Sum(m => m.Cost))</h4>
        @await Html.PartialAsync("_FlightsTable", @Model.Flights)
    </div>
}

<link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" />