@model CheapFlights.Models.SearchModel

@{
    ViewData["Title"] = "Search Flights";
}

@using (Html.BeginForm("Search", "Flights", FormMethod.Post, new { id = "searchForm" })) {
    <div class="form-row">
        <div class="col-sm-5 pt-2">
            @Html.DropDownListFor(
                m => m.SelectedOriginId, 
                new SelectList(Model.Airports, "IataCode", "City"),
                "-- Select Origin --",
                new {
                    @class = "custom-select" 
                })
            @Html.ValidationMessageFor(m => m.SelectedOriginId)
        </div>
        <div class="col-sm-5 pt-2">
            @Html.DropDownListFor(
                m => m.SelectedDestinationId, 
                new SelectList(Model.Airports, "IataCode", "City"),
                "-- Select Destination --",
                new {
                    @class = "custom-select" 
                })
            @Html.ValidationMessageFor(m => m.SelectedDestinationId)
        </div>
        <div class="col-sm-2 pt-2">
            <button type="submit" class="btn btn-primary btn-block">Search</button>
        </div>
    </div>
}

@if (Model.Paths != null) {
    @foreach (var flights in Model.Paths) {
        <div class="pt-4">
            <h4>Total: @String.Format("{0:C}", flights.Sum(m => m.Cost))</h4>
            @await Html.PartialAsync("_FlightsTable", flights)
        </div>
    }
}

<link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" />